.form_box {
  width: 500px;
  height: 300px;
  margin: 20px auto 0px;
}

.input_box {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  label {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  input {
    width: 80%;
    padding-left: 8px;
  }
}