@import "../colors";

.form_box {
  width: 500px;
  height: 300px;
  margin: 20px auto 0px;

  button {
    width: 100%;
    height: 50px;
    color: #fff;
  }
}

.input_box {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;

  label {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  input {
    width: 85%;
    padding-left: 8px;
  }
}