@import "../colors";

.test {
  width: 100%;
  height: 100%;
  position: relative;
  margin-left: -0.5rem;
  .page_wrap {
    width: 61rem;
    height: auto;
    overflow-x: hidden;
    .slider_wrap{
      width: 122rem;
      height: 100%;
    }
  }
}

.page {
  width: 60rem;
  height: 100%;
  float:left;
  margin-left: 0.5rem;
  padding-bottom: 5rem;
  &:last-of-type {
    margin-left: 1rem;
  }
  h1 {
    width: 60rem;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
    border-radius: 6px;
    background-color: #f8f8f8;
    margin-bottom: 20px;
  }
  h2 {
    margin-bottom: 8px;
  }
}

.form_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .custom_input {
    width: 100% !important;
    padding-left: 8px;
  }
  input {
    height: 3rem;
  }
  & > div {
    width: 100%;
    display: flex;
    gap: 12px;
    input {
      width: 100%;
    }
    div {
      width: 10rem;
      height: 3rem;
      line-height: 3rem;
      text-align: center;
      background-color: $orange;
      color: #fff;
      border-radius: 6px;
    }
  }

  & > h3 {
    margin-bottom: 6px;
  }
}

.slider_btn {
  width: 10rem;
  height: 5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  color: #666;
  position: absolute;
  top: calc(50% - 5rem);
  transform: translateY(-50%);
  font-size: 1.1rem;
  svg {
    font-size: 4rem;
  }
}

.detail_img {
  width: 100%;
  height: 21rem;
  box-shadow: 2px 2px 4px #999;
  margin-bottom: 1rem;
  position: relative;
  background-position: center;
  background-size: cover;
}

.detail_intro {
  width: 100%;
  min-height: 15rem;
}

.detail_room {
  width: 100%;
  height: 23rem;
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  padding: 1rem 3rem;
  display: flex;
  margin-bottom: 8px;
  .detail_room_img {
    width: 17rem;
    height: 100%;
    .detail_room_slider_wrap {
      width: 100%;
      height: 17rem;
      border: 1px solid #e3e3e3;
      overflow: hidden;
      border-radius: 6px;
      margin-bottom: 1rem;
      position: relative;
      ul {
        min-width: 100%;
        height: 17rem;
        position: relative;
        li {
          width: 17rem;
          height: 100%;
          &:not(:first-of-type) {
            display: none;
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      h3 {
        color: #666;
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        transform: translateY(-50%);
      }
      
    }
    div {
      width: 100%;
      height: 3rem;
      label {
        margin: 0 auto;
      }
    }
  }
  .detail_room_intro {
    width: calc(100% - 19rem);
    height: 17rem;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.5rem 2rem;
    margin-left: 1rem;
    .detail_room_explain {
      width: 100%;
      height: 3rem;
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 12px;
      }
      label {
        display: block;
        width: 6rem
      }
      input {
        height: 100%;
        width: calc(100% - 6rem);
        padding-left: 8px;
      }
    }
  }
}
.util_btn {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: flex-end;
  div {
    height: 100%;
    padding: 0 1rem;
    background-color: $orange;
    text-align: center;
    line-height: 3rem;
    border-radius: 6px;
    color: #fff;
    float: right;
  }
}


.detail_room_slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 1;
  display: none;
  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #000;
    border-radius: 6px;
    color: #fff;
    opacity: 0.5;
    &:first-of-type {
      left: 0;
    }
    &:last-of-type {
      right: 0;
    }
  }
}

.rest_preview {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .rest_img_container {
    width: 48%;
    height: 23rem;
    border: 1px solid #e3e3e3;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 12px;
    h3 {
      width: 100%;
      line-height: 23rem;
      text-align: center;
      color: #666;
    }
    div {
      width: 5.25rem;
      height: 5.25rem;
      cursor: pointer;
      position: relative;
      & > div {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 100%;
          z-index: 1;
        }
      }
      svg {
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
        position: absolute;
        top:0;
        right: 0;
        transform: translate(50%, -50%);
        color: #000;
        z-index: 2;
      }
    }
  }
}

.rest_menu {
  width: 100%;
  .rest_menu_title {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      line-height: 3rem;
    }
    button {
      padding: 0;
      svg {
        color: $orange;
        width: 2.25rem;
        height: 2.25rem;
        cursor: pointer;
      }
    }
  }
  .util_btn {
    margin: 1rem 0;
  }

  
  .rest_menu_wrap {
    width: 100%;
    .rest_menu_circle  {
      width: 0.75rem !important;
      height: 0.75rem !important;
      background-color: #e3e3e3;
      border-radius: 50%;
      position: absolute;
      top: 1.5rem;
      left: 12px;
      transform: translateY(-50%);
    }
    &:first-of-type {
      .rest_menu_circle {
        top: 50%;
      }
    }
    .rest_exposure_menu {
      width: 100%;
      height: 9rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0 48px 0 32px;
      position: relative;
      gap: 12px;

      & > .delete_btn {
        top: 50%;
      }
      .rest_exposure_menu_imgbox {
        width: 8rem;
        height: 8rem;
        label {
          width: 8rem;
          height: 8rem;
          border: 1px solid #e3e3e3;
          display: block;
          text-align: center;
          line-height: 8rem;
          position: relative;
          div {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            img {
              height: 100%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
      .rest_exposure_menu_textbox {
        width: calc(100% - 8rem);
        height: 8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        input {
          border: none;
          text-align: right;
          height: 2.5rem;
          width: 100%;
          padding-right: 8px;
        }
        div {
          width: 100%;
          height: 2.5rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
    .rest_entire_menu {
      width: 100%;
      height: auto;
      position: relative;
      border: 1px solid #e3e3e3;
      &:not(:last-of-type) {
        border-bottom: none;
      }
      input {
        width : 100%;
        padding: 0px 32px;
        border: none;
        height: 3rem;
        background-color: transparent;
      }
      ul {
        width: calc(100% + 2px);
        height: auto;
        margin-left: -1px;

      }
      button {
        padding: 0;
        position: absolute;
        top: 1.5rem;
        right: 48px;
        transform: translateY(-50%);
        display: none;
        height: 1.5rem;
        svg {
          color: $orange;
          width: 1.5rem;
          height: 1.5rem;
          cursor: pointer;
        }
      }
      
      
      .rest_entire_menu_detail {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        gap: 8px;
        & > .deleteBtn {
          top: 50%;
        }
        & > .rest_menu_circle {
          left: 28px;
        }
        & > input {
          padding-left: 48px;
          width: 65%;
          height: 3rem;
        }
        .rest_entire_menu_price {
          width: 35%;
          height: 3rem;
          padding: 0 48px 0 0;
          display: flex;
          align-items: center;
          input {
            width: 100%;
            height: 100%;
            padding-right: 8px;
            text-align: right;
          }
        }
      }
    }
  }
}

.delete_btn {
  color: #e3e3e3;
  position: absolute;
  top: 1.5rem;
  right: 20px;
  transform: translateY( -50%);
  display: none;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}

.registration_btn {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    display: block;
    padding: 1rem 2rem;
    background-color: $orange;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
  }
}

.postcode_back {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}