@import "../colors";

.restaurant_wrap {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}



.list {
  width: 48%;
  height: 23rem;
  cursor: pointer;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e3e3e3;
  .list_img {
    width: 100%;
    height: 80%;
    background-position: center;
    background-size: cover;
    box-shadow: 2px 2px 4px #999;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      width: calc(100% - 1px);
      top: 50%;
      left: 50%;
      transform:translate(-50%, -50%)
    }
    h3 {
      width: 100%;
      text-align: center;
    }
  }
  .list_text_container {
    width: 100%;
    height: 20%;
    padding-top: 1.5%;
    display: flex;
    .list_text {
    width: calc(100% - 1.25rem);
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 0;
      h2 {
        font-size: 1.3rem;
      }
      .list_rating {
        font-size: 1rem;
      }
      .list_hashtags {
        font-size: 1.05rem;
      }
    }
    .list_deco {
      width: 0.75rem;
      margin-left: 0.5rem;
      height: 100%;
      background-color: $light_orange
    }
  }
}