@import "../colors";

.service_container {
  width: 100%;
  height: auto;
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 3rem;
  .service_profile_img {
    width: 15rem;
    height: 15rem;
    background-position: center;
    background-size: cover;
    border-radius: 6px;
  }
  .service_service {
    width: calc(100% - 16rem);
    height: auto;
    h2 {
      height: 3rem;
    }
    .service_btn_container {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      .service_btn {
        width: 100%;
        height: 3rem;
        background-color: $light_orange;
        border-radius: 6px;
        color: #f8f8f8;
        font-size: 1.1rem;
        a {
          width: 100%;
          height: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.manage_contents {
  margin-bottom: 2rem;
  .manage_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75rem;
  }
}

.util_box {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}