@import './colors';

.header {
  width: 100%;
  height: 5rem;
  background-color: $orange;
  margin: 0 auto;
  ul {
    width: 60rem;;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    li {
      height: 100%;
      color: #fff;
      a {
        width: 100%;
        height: 100%;
        display: block;
        display: flex;
        align-items: center;
        padding: 0 20px;
        font-size: 1.2rem;
      }
    }
  }
}