$red: #e11124;
$green: #14e973;
$orange: #ffa500;
$light_orange: #ffc079;
$yellow: #fbbd00;
$kakao: #ffe100;
$blue: #2eafce;
$bluish-green: #2bd1b1;
$purple: #b85bff;
$gray-1: #212529;
$gray-2: #454545;
$gray-3: #989898;
$gray-4: #d5d5d5;
$gray-5: #e9ebec;
$gray-6: #f9f9f9;
$success: #14e973;
$warning: #fbbd00;