
// width #####################################################################################################################
.w_60 {
  width: 60%;
}
.max_w_75px {
  max_width: 75px;
}
.max_w_380px {
  max_width: 380px;
}
.min_w_65px {
  min_width: 65px;
}
.w_5 {
  width: 5%;
}
.w_10 {
  width: 10%;
}
.w_30 {
  width: 30%;
}
.w_40 {
  width: 40%;
}
.w_45 {
  width: 45%;
}
.w_47 {
  width: 47%;
}
.w_48 {
  width: 48%;
}
.w_60 {
  width: 60%;
}
.w_70 {
  width: 70%;
}
.w_85 {
  width: 85%;
}
.w_90 {
  width: 90%;
}
.w_95 {
  width: 95%;
}

.max_h_100 {
  max_height: 100%;
}

.h_inherit {
  height: inherit !important;
}

.h_0 {
  height: 0;
}
.h_5 {
  height: 5%;
}
.h_10 {
  height: 10%;
}
.h_20 {
  height: 20%;
}
.h_30 {
  height: 30%;
}
.h_40 {
  height: 40%;
}
.h_45 {
  height: 45%;
}
.h_50 {
  height: 50%;
}
.h_55 {
  height: 55%;
}
.h_60 {
  height: 60%;
}
.h_70 {
  height: 70%;
}
.h_80 {
  height: 80%;
}

// position #####################################################################################################################
.pos_abs {
  position: absolute !important;
}
.pos_rel {
  position: relative !important;
}

.pos_fix {
  position: fixed !important;
}
.pos_stick {
  position: sticky !important;
}

.translate_x {
  left: 50% !important;
  transform: translate(-50%, 0) !important;
}
.translate_y {
  top: 50% !important;
  transform: translate(0, -50%) !important;
}
.translate_a {
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.top_0 {
  top: 0;
}
.right_0 {
  right: 0;
}
.bottom_0 {
  bottom: 0;
}
.left_0 {
  left: 0;
}

// cursor #####################################################################################################################
.cursor_p {
  cursor: pointer;
}
.cursor_cm {
  cursor: context-menu !important;
  a {
    cursor: context-menu !important;
  }
}
.cursor_i {
  cursor: inherit;
}

// text #####################################################################################################################
.lsm_1 {
  letter-spacing: -1px;
}
.lsm_2 {
  letter-spacing: -2px;
}

.fw_100 {
  font-weight: 100 !important;
}
.fw_200 {
  font-weight: 200 !important;
}
.fw_300 {
  font-weight: 300 !important;
}
.fw_400 {
  font-weight: 400 !important;
}
.fw_500 {
  font-weight: 500 !important;
}
.fw_600 {
  font-weight: 600 !important;
}
.fw_700 {
  font-weight: 700 !important;
}
.fw_800 {
  font-weight: 800 !important;
}

.text_ellip {
  text-overflow: ellipsis;
}

.fs_1r {
  font-size: 1rem;
}
.fs_1d1r {
  font-size: 1.1rem;
}
.fs_1d25r {
  font-size: 1.25rem;
}
.fs_1d5r {
  font-size: 1.5rem;
}
.fs_2r {
  font-size: 2rem;
}
.fs_90p {
  font-size: 90%;
}
.fs_inherit {
  font-size: inherit;
}
.fs_1d25r-i {
  font-size: 1.25rem !important;
}
.fs_1d125r-i {
  font-size: 1.125rem !important;
}

// overflow #####################################################################################################################
.over_h {
  overflow-x: hidden;
  overflow-y: hidden;
}
.over_y_s {
  overflow-y: scroll;
}
.over_y_h {
  overflow-y: hidden;
}
.over_y_a {
  overflow-y: auto;
}

.over_x_h {
  overflow-x: hidden;
}

// border #####################################################################################################################
.b_none {
  border: none;
}
.b_r_0 {
  border-radius: 0;
}
.b_r_4px {
  border-radius: 4px;
}
.b_r_025rem {
  border-radius: 0.25rem;
}
.b_r_50 {
  border-radius: 50%;
}

.b_l_f5f5f5 {
  border-left: thin solid #f5f5f5;
}
.b_l_d7d7d7 {
  border-left: thin solid #d7d7d7;
}
.b_l_yellow {
  border-left: 4px solid var(--yellow) !important;
}

.b_dadada {
  border: thin solid #dadada;
}

.b_edeeef {
  border: thin solid #edeeef !important;
}
.b_t-edeeef {
  border-top: thin solid #edeeef;
}
.b_b_edeeef {
  border-bottom: thin solid #edeeef;
}
.b_l_edeeef {
  border-left: thin solid #edeeef;
}
.b_r_edeeef {
  border-right: thin solid #edeeef;
}

.b_a_none {
  border: 0;
}

.b_b_000 {
  border-bottom: thin solid #000;
}
.b_r_cacaca {
  border-right: thin solid #cacaca;
}
.b_r_ddd {
  border-right: thin solid #ddd;
}
.b_r_ddd-2px {
  border-right: 2px solid #ddd;
}
.b_b_ddd {
  border-bottom: thin solid #ddd;
}

.b_w-3px {
  border-width: 3px;
}

// display flex ############################################################################################################
.d_flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify_content_flex_end {
  justify-content: flex-end;
}

.align_items_flex_end {
  align-items: flex-end;
}

.align_items_flex_start {
  align-items: flex-start;
}

.align_content_space_between {
  align-content: space-between;
}

.justify_content_space_between {
  justify-content: space-between;
}

.justify_content_space_around {
  justify-content: space-around;
}

.dir_row {
  flex-direction: row;
}

.dir_column {
  flex-direction: column;
}

// etc #####################################################################################################################


