@import './colors';

.header {
  width: 100%;
  height: 5rem;
  background-color: $orange;
  margin: 0 auto;
  ul {
    width: 60rem;;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    li {
      height: 100%;
      color: #fff;
      a {
        width: 100%;
        height: 100%;
        display: block;
        display: flex;
        align-items: center;
        padding: 0 20px;
        font-size: 1.2rem;
      }
    }
  }
}

.postcode {
  display: block !important;
  position: absolute !important;
  top:  50% !important;
  left:  50% !important;
  width:  40rem !important ;
  height:  28rem !important;
  padding:  7px !important;
  z-index: 100 !important;
  transform:  translate(-50%, -50%) !important;
};

.upload_modal_warp {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 0;
  .back {
    width: 100%;
    height: 100%;
  }
  .upload_modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60rem;
    height: auto;
    transform: translate(-50%, -50%);
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background-color: #fff;
    ul, h3 {
      height: 16rem;
    }
    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    ul {
      width: calc(100% - 4rem);
      overflow-y: auto;
      margin: 1rem 0;
      border: 1px solid #e3e3e3;
      border-radius: 6px;
      li {
        width: 100%;
        height: 3rem;
        background-color: $gray_5;
        cursor: pointer;
        padding: 0 2rem;
        line-height: 3rem;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:not(:last-of-type) {
          border-bottom: 1.5px solid $gray_4;
        }

        input {
          font-weight: bold;
          padding-left: 8px;
          width: 3rem;
          height: 80%;
          border: none;
          background-color: transparent;
          border-radius: 0;
          &:focus, &:active {
            border-bottom: 1px solid #000;
          }
        }
      }
    }

    .util_box {
      width: 100%;
      height: 4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2rem;
      button {
        width: 5rem;
        height: 3rem;
        background-color: $orange;
        color: #fff;
        border: none;
        cursor: pointer;
      }
    }
  }
}

.upload_button {
  width: 15rem !important;
  height: 3rem !important;
  background-color: $orange;
  color: #fff;
  border-radius: 6px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  svg {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: -12px;
  }
}

.file_input {
  width: 15rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $orange;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  gap: 0.5rem;
  svg {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: -12px;
  }
}

.image_slier {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #000;
    border-radius: 6px;
    color: #fff;
    opacity: 0.5;
    &:first-of-type {
      left: 0;
    }
    &:last-of-type {
      right: 0;
    }
  }
}

.image_box {
  position: relative;
  overflow: hidden;
  & > img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.label_box {
  padding-top: 1.5%;
  display: flex;
  .accom_label_text, .rest_label_text {
  width: calc(100% - 1.25rem);
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 0;
  }
  .accom_label_text {
    span {
      font-size: 1.3rem;
    }
  }

  .rest_label_text {
    span {
      font-size: 1.05rem;
    }
  }
  .label_deco {
    width: 0.75rem;
    margin-left: 0.5rem;
    height: 100%;
    background-color: $light_orange
  }
}