@import './colors';

.header {
  width: 100%;
  height: 5rem;
  background-color: $orange;
  margin: 0 auto;
  ul {
    width: 60rem;;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    li {
      height: 100%;
      color: #fff;
      a {
        width: 100%;
        height: 100%;
        display: block;
        display: flex;
        align-items: center;
        padding: 0 20px;
        font-size: 1.2rem;
      }
    }
  }
}

.postcode {
  display: block !important;
  position: absolute !important;
  top:  50% !important;
  left:  50% !important;
  width:  40rem !important ;
  height:  28rem !important;
  padding:  7px !important;
  z-index: 100 !important;
  transform:  translate(-50%, -50%) !important;
};

.info_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45rem;
  height: auto;
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 1;
  background-color: #fff;
  .info_container {
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    .info_contents {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 4px;
      .info_registration, .info_view {
        width: 100%;
        min-height: 5rem;
        border: 1px solid $gray_4;
        border-radius: 6px;
        padding: 8px;        
      }
      .info_registration {
        & > span {
          padding: 4px 20px 4px 8px;
          margin: 0 2px;
          background-color: $gray_2;
          color: #fff;
          border-radius: 4px;
          position: relative;
          & > svg {
            position: absolute;
            top:50%;
            right: 12px;
            transform: translate(50%, -50%);
            cursor: pointer;
          }
        }
      }
    }
  }
  button {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

.upload_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60rem;
  height: auto;
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: #fff;
  ul, h3 {
    height: 16rem;
  }
  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tooltip_box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 2rem;
  }
  ul {
    width: calc(100% - 4rem);
    overflow-y: auto;
    margin: 1rem 0;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    li {
      width: 100%;
      height: 3rem;
      background-color: $gray_5;
      cursor: pointer;
      padding: 0 3rem 0 2rem;
      line-height: 3rem;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      &:not(:last-of-type) {
        border-bottom: 1.5px solid $gray_4;
      }

      input {
        font-weight: bold;
        padding-left: 8px;
        width: 3rem;
        height: 80%;
        border: none;
        background-color: transparent;
        border-radius: 0;
        &:focus, &:active {
          border-bottom: 1px solid #000;
        }
      }

      svg {
        width: 1.2rem;
        height: 1.2rem;
        position: absolute;
        font-weight: unset;
        top: 50%;
        right: 1.5rem;
        transform: translate(50%, -50%);
        color: $gray_3
      }
    }
  }

  .util_box {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    
  }
}

.modal_container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 0;
  overflow: hidden;
  .back {
    width: 100%;
    height: 100%;
  }
  h2 {
    padding: 2rem !important; 
    width: 100% !important;
    text-align: center !important;
    position: relative;
    svg {
      width: 1.8rem;
      height: 1.8rem;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
  }
}

.upload_button {
  width: 15rem !important;
  height: 3rem !important;
  background-color: $orange;
  color: #fff;
  border-radius: 6px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  svg {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: -12px;
  }
}

.file_input {
  width: 15rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $orange;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  gap: 0.5rem;
  svg {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: -12px;
  }
}

.image_slier {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #000;
    border-radius: 6px;
    color: #fff;
    opacity: 0.5;
    &:first-of-type {
      left: 0;
    }
    &:last-of-type {
      right: 0;
    }
  }
}

.image_box {
  position: relative;
  overflow: hidden;
  & > img, h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  & > h3 {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.label_box {
  padding-top: 1.5%;
  display: flex;
  .accom_label_text, .rest_label_text {
  width: calc(100% - 1.25rem);
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 0;
  }
  .accom_label_text {
    span {
      font-size: 1.3rem;
    }
  }

  .rest_label_text {
    span {
      font-size: 1.05rem;
    }
  }
  .label_deco {
    width: 0.75rem;
    margin-left: 0.5rem;
    height: 100%;
    background-color: $light_orange
  }
}

.custom_textarea {
  width: 100%;
  resize: none;
  border-color: #e3e3e3;
  box-shadow: none !important;
  border-radius: 6px;
  border-width: 1px;
  background-color: #fff;
  outline: unset;
  padding: 8px;  
  white-space: pre;
}

.custom_all_input {
  padding: 0 8px;
  height: 3rem;
  border: 1px solid $gray_4;
}

.custom_bottom_input {
  padding: 0 8px;
  border: none;
  height: 3rem;
  border-bottom: 1px solid $gray_4;
  border-radius: 0;
}

.regi_button {
  width: 5rem;
  height: 3rem;
  background-color: $orange;
  color: #fff;
  border: none;
  cursor: pointer;
}

.edit_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  height: auto;
  background-color: #fff;

  .input_contents {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    input {
      width: 100%;
    }
  }

  .textarea_contents {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1rem;
  }
}