html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  font-size: 14px;
}

#__next {
  height: 100vh;
  margin: 0 auto;
  border: 1px solid #e3e3e3;
  overflow: auto;
  #__wrap {
    width: 100%;
    height: calc(100vh - 5rem);
    overflow-y: auto;
    #__container {
      width: 60rem;
      margin: 0 auto;
      padding-top: 2rem;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,button, textarea {
  border-color: #e3e3e3;
  box-shadow: none;
  border-radius: 6px;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

