@import "./mui.scss";

@font-face {
  font-family: "NanumGothic"; 
  src: url("../src/fonts/NanumGothicCoding-Regular.ttf"); 
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  font-size: 14px;
}

#__next {
  height: auto;
  margin: 0 auto;
  border: 1px solid #e3e3e3;
  overflow-x: hidden;
  #__wrap {
    width: 100%;
    #__container {
      width: 60rem;
      height: auto;
      margin: 0 auto;
      padding-top: 2rem;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input, textarea {
  &:focus-visible {
    outline: unset;
  }
}

input, button {
  border-color: #e3e3e3;
  box-shadow: none !important;
  border-radius: 6px;
  border-width: 1px;
  background-color: #fff;
  outline: unset;
  outline-offset: unset;
  outline-style: unset;
  -webkit-appearance: none; 
  -moz-appearance: none; 
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

input[type="file"] {
  position: absolute;
   width: 1px; 
   height: 1px; 
   padding: 0; 
   margin: -1px; 
   overflow: hidden; 
   clip:rect(0,0,0,0); 
   border: 0;
} 



